@font-face {
  font-family: "UniSansHeavy";
  src: url("../fonts/Uni\ Sans\ Heavy.otf");
}

@font-face {
  font-family: "UniSansHeavyItalic";
  src: url("../fonts/Uni\ Sans\ Heavy\ Italic.otf");
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro-Regular.ttf");
}
