@font-face {
  font-family: "SourceSansProLightItalic";
  src: url("../Assets/Fonts/SourceSansPro-LightIt.otf");
}

@font-face {
  font-family: "DPSDbeyond";
  src: url("../Assets/Fonts/DPSDbeyond.otf");
}

@font-face {
  font-family: "AUdimatItalic";
  src: url("../Assets/Fonts/AudimatItalic.ttf");
}
