.hero {
  background: url(../Assets/Pictures/hero-background.png);
  background-position: top;
  background-repeat: no-repeat;
  height: 1156px;
  padding: 55px 78px 0 80px;
  position: relative;
  width: 1200px;
}
