@import "./main-left";
@import "./main-right";

.content {
  padding: 0 78px 0 80px;
  background-color: white;
  display: flex;
  margin: -1px auto 0 auto;
  width: 1200px;
}

.content__tile__hover {
  height: 470px;
  background-color: rgba(11, 15, 15, 93%);
  opacity: 0;
  transition: 0.3s;

  &__text {
    @include photo-text-small;
    color: white;
    margin: 0 auto;
    padding-top: 174px;
    width: 150px;
  }

  &__link {
    @include photo-text-title;
    border: solid 2px white;
    color: white;
    display: inline-block;
    font-size: 19px;
    line-height: 19px;
    padding: 13px 42px 10px 40px;
    margin-top: 29px;
    transition: 0.3s;
  }

  &__link:hover {
    background-color: white;
    color: black;
  }
}

.content__tile__hover:hover {
  opacity: 1;
}
