@import "../mixins";

.hero {
  @include center;
  background: url(../pictures/hero-background.png);
  background-position: center;
  background-size: cover;
  padding-left: 116px;
  width: 1140px;

  &__title {
    color: white;
    font-family: "UniSansHeavy", serif;
    font-size: 84px;
    letter-spacing: 14px;
    line-height: 100px;
    padding-bottom: 34px;
    padding-top: 138px;
    width: 450px;
  }

  &__button {
    @include button-rectangle;
    background-color: #22d1ad;
    color: white;
    margin-bottom: 117px;
    margin-left: 4px;
  }
}
