.about {
  @include center;
  margin-top: 98px;
  text-align: center;
  width: 900px;
  &__title {
    color: #444561;
    font-family: "UniSansHeavy", serif;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 8px;
  }

  &__img {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 32px;
  }

  &__body {
    color: #6b6c79;
    font-family: "SourceSansPro", serif;
    font-size: 24px;
    line-height: 36px;

    &__company-name {
      font-weight: bold;
      font-style: italic;
      margin-right: 2px;
    }

    &__link {
      color: #2ba78d;
      display: block;
    }
  }
}
