/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav {
  align-items: flex-start;
  display: flex;
  height: 56px;
  justify-content: space-between;
  left: 13.5%;
  position: absolute;
  top: 224px;
  width: 1042px;
  z-index: 10;
}
.nav .search-container {
  display: flex;
  position: relative;
}
.nav .search-container__close-icon {
  opacity: 0;
  position: absolute;
  right: 280px;
  transition: 0.1s;
}
.nav .search-container__close-icon__text {
  font-size: 0;
}
.nav .search-container__close-icon--open {
  cursor: pointer;
  opacity: 1;
  transition-delay: 0.6s;
  transition: 0.3s;
  z-index: 17;
}
.nav .search-container__input {
  background-color: inherit;
  border: none;
  border-bottom: solid 1px black;
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
  opacity: 0;
  position: absolute;
  padding-left: 20px;
  right: 0px;
  top: 0px;
  transition: 0.4s;
  width: 0;
}
.nav .search-container__input::placeholder {
  color: black;
  font-weight: bold;
}
.nav .search-container__input--open {
  width: 270px;
  opacity: 1;
  right: 25px;
  z-index: 15;
}
.nav .search-container__input:focus {
  outline: none;
}
.nav__link {
  text-decoration: none;
  color: #242e2d;
}
.nav__link__text {
  font-size: 0px;
}
.nav__link__icon--hotcakes {
  height: 22px;
  margin-top: -25px;
  transition: 0.3s;
  width: 24px;
}
.nav__link__icon--hotcakes:hover {
  transform: scale(1.1);
}
.nav__link__icon--logo {
  height: 55.4px;
  margin-top: -20px;
  transition: 0.3s;
  width: 57px;
}
.nav__link__icon--logo:hover {
  transform: scale(1.1);
}
.nav__link__icon--search {
  position: relative;
  height: 17px;
  margin-left: 30px;
  width: 16px;
  z-index: 15;
}
.nav__link__text--search {
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  margin-right: 12px;
  position: absolute;
  text-transform: uppercase;
  transition: 0.4s;
  z-index: 15;
  right: 17px;
}
.nav__link__text--search--open {
  right: 232px;
  opacity: 0;
  z-index: 0;
  cursor: initial;
}

@font-face {
  font-family: "SourceSansProLightItalic";
  src: url("../Assets/Fonts/SourceSansPro-LightIt.otf");
}
@font-face {
  font-family: "DPSDbeyond";
  src: url("../Assets/Fonts/DPSDbeyond.otf");
}
@font-face {
  font-family: "AUdimatItalic";
  src: url("../Assets/Fonts/AudimatItalic.ttf");
}
.hero {
  background: url(../Assets/Pictures/hero-background.png), white;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  width: 1200px;
  margin: 170px auto 0 auto;
  padding: 55px 78px 0 80px;
  position: relative;
}
.hero .hero__wrapper--left,
.hero .hero__wrapper--right {
  display: flex;
  flex-direction: column;
  margin-top: 188px;
}
.hero .hero__wrapper--left {
  width: 330px;
}
.hero .hero__wrapper--left h1 {
  color: #242e2d;
  font-family: "DPSDbeyond", serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: -2px;
  margin-bottom: 254px;
  font-size: 54px;
  line-height: 64px;
  width: 227px;
}
.hero .hero__wrapper--left .wrapper--white {
  background-color: white;
  margin-right: -1px;
  padding: 20px 20px 0 20px;
}
.hero .hero__wrapper--left .hero__article {
  background: url(../Assets/Pictures/hero-article-crown_house.png);
  background-size: 290px 270px;
  background-repeat: no-repeat;
  text-align: center;
}
.hero .hero__wrapper--left .hero__article__title {
  color: #242e2d;
  font-family: "DPSDbeyond", serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 40px;
  line-height: 31px;
}
.hero .hero__wrapper--left .hero__article__author {
  color: #9b9b9b;
  font-family: "SourceSansProLightItalic", serif;
  font-size: 18px;
  line-height: 23px;
  text-transform: none;
  letter-spacing: 0.5px;
  margin-top: 16px;
  color: #697473;
}
.hero .hero__wrapper--left .hero__article__hover {
  height: 270px;
}
.hero .hero__wrapper--left .hero__article__hover__text {
  padding-top: 70px;
}
.hero .hero__wrapper--right {
  background-color: white;
  margin-left: 26px;
  padding: 20px 20px 0 20px;
}
.hero .hero__wrapper--right .hero__article {
  background: url(../Assets/Pictures/hero-article-luxembourg_apartment.png);
  background-size: 645px 889px;
  display: flex;
  padding-top: 710px;
}
.hero .hero__wrapper--right .hero__article .article__wrapper--left {
  background-color: white;
  height: 180px;
  margin-left: -1px;
  width: 354px;
}
.hero .hero__wrapper--right .hero__article .article__wrapper--left .hero__article__title {
  color: #242e2d;
  font-family: "DPSDbeyond", serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 16px;
}
.hero .hero__wrapper--right .hero__article .article__wrapper--left .hero__article__title--the {
  color: #9b9b9b;
  font-family: "SourceSansProLightItalic", serif;
  font-size: 18px;
  line-height: 23px;
  text-transform: none;
  letter-spacing: 0.5px;
  display: block;
  margin-top: 27px;
  margin-bottom: 17px;
}
.hero .hero__wrapper--right .hero__article .article__wrapper--left .hero__article__author {
  color: #9b9b9b;
  font-family: "SourceSansProLightItalic", serif;
  font-size: 18px;
  line-height: 23px;
  text-transform: none;
  letter-spacing: 0.5px;
  color: #697473;
}
.hero .hero__wrapper--right .hero__article .article__wrapper--right {
  background-color: rgba(11, 15, 15, 0.92);
  color: white;
  height: 180px;
  width: 290px;
  padding: 28px 28px 0px 29px;
}
.hero .hero__wrapper--right .hero__article .article__wrapper--right .hero__article__body {
  font-size: 15px;
  font-family: "SourceSansPro-Regular", serif;
  line-height: 24px;
}

@font-face {
  font-family: "SourceSansProLightItalic";
  src: url("../Assets/Fonts/SourceSansPro-LightIt.otf");
}
@font-face {
  font-family: "DPSDbeyond";
  src: url("../Assets/Fonts/DPSDbeyond.otf");
}
@font-face {
  font-family: "AUdimatItalic";
  src: url("../Assets/Fonts/AudimatItalic.ttf");
}
@font-face {
  font-family: "SourceSansProLightItalic";
  src: url("../Assets/Fonts/SourceSansPro-LightIt.otf");
}
@font-face {
  font-family: "DPSDbeyond";
  src: url("../Assets/Fonts/DPSDbeyond.otf");
}
@font-face {
  font-family: "AUdimatItalic";
  src: url("../Assets/Fonts/AudimatItalic.ttf");
}
.content__left {
  color: white;
  padding: 0px 20px 0px 20px;
  text-align: center;
  width: 290px;
}
.content__left .content__tile__portal {
  width: 290px;
  height: 290px;
}
.content__left .content__tile__portal__text {
  color: white;
  font-family: "SourceSansPro-LightIt", serif;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  display: block;
}
.content__left .content__tile__portal__link {
  color: white;
  text-decoration: none;
  font-family: "DPSDbeyond", serif;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
}
.content__left .content__tile__portal__link:hover {
  transform: scale(1.06);
}
.content__left .news {
  background: url(../Assets/Pictures/tile-news-background.png), #74a9ca;
  background-position: center;
  background-size: 290px 290px;
  background-blend-mode: soft-light;
  margin-bottom: 62px;
}
.content__left .news__text {
  padding-top: 100px;
  text-transform: capitalize;
}
.content__left .news__text::after {
  border-top: solid white 2px;
  content: "border";
  display: block;
  font-size: 0px;
  height: 0px;
  margin: 25px auto 27px auto;
  transition: 0.4s;
  width: 75px;
}
.content__left .news:hover .news__text::after {
  width: 150px;
}
.content__left .view {
  background: url(../Assets/Pictures/tile-view-background.png);
  background-size: 290px 470px;
  background-position: top;
  background-repeat: no-repeat;
  height: 582px;
  margin-bottom: 52px;
}
.content__left .view__title {
  color: #242e2d;
  font-family: "DPSDbeyond", serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 18px;
}
.content__left .view__text--small {
  color: #9b9b9b;
  font-family: "SourceSansProLightItalic", serif;
  font-size: 18px;
  line-height: 23px;
  text-transform: none;
  letter-spacing: 0.5px;
}
.content__left .about {
  background: url(../Assets/Pictures/tile-about-background.png), #d87979;
  background-blend-mode: soft-light;
  background-position: center;
  background-size: 290px 290px;
}
.content__left .about__link {
  margin-top: 97px;
}
.content__left .about__text {
  text-transform: capitalize;
  font-family: "AUdimatItalic", serif;
  line-height: 22px;
}
.content__left .about__text::before {
  border-top: solid white 2px;
  content: "border";
  display: block;
  font-size: 0px;
  height: 0px;
  margin: 17px auto 24px auto;
  transition: 0.4s;
  width: 75px;
}
.content__left .about:hover .about__text::before {
  width: 150px;
}

@font-face {
  font-family: "SourceSansProLightItalic";
  src: url("../Assets/Fonts/SourceSansPro-LightIt.otf");
}
@font-face {
  font-family: "DPSDbeyond";
  src: url("../Assets/Fonts/DPSDbeyond.otf");
}
@font-face {
  font-family: "AUdimatItalic";
  src: url("../Assets/Fonts/AudimatItalic.ttf");
}
.content__right {
  margin-left: 88px;
}
.content__right .tile__villa {
  margin-top: 64px;
  position: relative;
}
.content__right .tile__villa .tile__text {
  background-color: white;
  padding: 32px 66px 23px 0;
  position: absolute;
  top: 265px;
  z-index: 10;
}
.content__right .tile__villa .tile__text__title {
  color: #242e2d;
  font-family: "DPSDbeyond", serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  display: block;
}
.content__right .tile__villa .tile__text__author {
  color: #9b9b9b;
  font-family: "SourceSansProLightItalic", serif;
  font-size: 18px;
  line-height: 23px;
  text-transform: none;
  letter-spacing: 0.5px;
  display: block;
  margin-top: 13px;
}
.content__right .tile__villa__hover {
  position: absolute;
  top: 0;
  height: 381px;
  width: 642px;
}
.content__right .tile__villa__hover__text {
  padding-top: 65px;
  text-align: center;
}
.content__right .tile__villa__hover__link {
  margin-left: 256px;
}
.content__right .content__right__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  height: 950px;
}
.content__right .content__right__wrapper .content__right__tile {
  width: 290px;
}
.content__right .content__right__wrapper .science {
  margin-top: 65px;
  position: relative;
}
.content__right .content__right__wrapper .science .tile__text__title {
  color: #242e2d;
  font-family: "DPSDbeyond", serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  display: block;
  margin-top: 35px;
  margin-bottom: 17px;
}
.content__right .content__right__wrapper .science .tile__text__author {
  color: #9b9b9b;
  font-family: "SourceSansProLightItalic", serif;
  font-size: 18px;
  line-height: 23px;
  text-transform: none;
  letter-spacing: 0.5px;
}
.content__right .content__right__wrapper .science__hover {
  position: absolute;
  height: 441px;
  top: 0;
  width: 290px;
}
.content__right .content__right__wrapper .science__hover__text {
  padding-top: 160px;
}
.content__right .content__right__wrapper .contact {
  background: url(../Assets/Pictures/tile-contact-background.png), #9ad4d2;
  background-blend-mode: soft-light;
  background-position: center;
  background-size: 290px 290px;
  height: 290px;
  margin-top: 67px;
  margin-left: 62px;
}
.content__right .content__right__wrapper .contact__link {
  color: white;
  text-decoration: none;
  font-family: "DPSDbeyond", serif;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  display: block;
  margin-top: 97px;
  transition: 0.3s;
}
.content__right .content__right__wrapper .contact__link:hover {
  transform: scale(1.06);
}
.content__right .content__right__wrapper .contact__text {
  color: white;
  font-family: "SourceSansPro-LightIt", serif;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  text-transform: capitalize;
}
.content__right .content__right__wrapper .contact__text::before {
  border-top: solid white 2px;
  content: "border";
  display: block;
  font-size: 0px;
  height: 0px;
  margin: 17px auto 24px auto;
  transition: 0.4s;
  width: 75px;
}
.content__right .content__right__wrapper .contact:hover .contact__text::before {
  width: 150px;
}
.content__right .content__right__wrapper .vi-sang {
  margin-left: 62px;
  margin-top: 61px;
  position: relative;
}
.content__right .content__right__wrapper .vi-sang .tile__text__title {
  color: #242e2d;
  font-family: "DPSDbeyond", serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  display: block;
  margin-top: 33px;
  margin-bottom: 18px;
}
.content__right .content__right__wrapper .vi-sang .tile__text__author {
  color: #9b9b9b;
  font-family: "SourceSansProLightItalic", serif;
  font-size: 18px;
  line-height: 23px;
  text-transform: none;
  letter-spacing: 0.5px;
}
.content__right .content__right__wrapper .vi-sang__hover {
  height: 384px;
  position: absolute;
  top: 0;
  width: 290px;
}
.content__right .content__right__wrapper .vi-sang__hover__text {
  padding-top: 137px;
}

.content {
  padding: 0 78px 0 80px;
  background-color: white;
  display: flex;
  margin: -1px auto 0 auto;
  width: 1200px;
}

.content__tile__hover {
  height: 470px;
  background-color: rgba(11, 15, 15, 0.93);
  opacity: 0;
  transition: 0.3s;
}
.content__tile__hover__text {
  color: #9b9b9b;
  font-family: "SourceSansProLightItalic", serif;
  font-size: 18px;
  line-height: 23px;
  text-transform: none;
  letter-spacing: 0.5px;
  color: white;
  margin: 0 auto;
  padding-top: 174px;
  width: 150px;
}
.content__tile__hover__link {
  color: #242e2d;
  font-family: "DPSDbeyond", serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  border: solid 2px white;
  color: white;
  display: inline-block;
  font-size: 19px;
  line-height: 19px;
  padding: 13px 42px 10px 40px;
  margin-top: 29px;
  transition: 0.3s;
}
.content__tile__hover__link:hover {
  transform: scale(1.04);
}

.content__tile__hover:hover {
  opacity: 1;
}

.loading {
  background-color: white;
  display: flex;
  justify-content: center;
  margin: -1px auto 0 auto;
  padding-bottom: 106px;
  padding-top: 50px;
  width: 1200px;
}
.loading__icon {
  margin: 0 10px;
}

.footer {
  background-color: white;
  margin: -1px auto 171px auto;
  width: 1200px;
}
.footer__nav {
  align-items: center;
  border-top: solid 2px #f6f6f6;
  display: flex;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 54px;
  padding-left: 63px;
  width: 1040px;
}
.footer__nav__item {
  color: #414a49;
  font-family: "Source Sans Pro", serif;
  font-size: 14px;
  font-weight: bold;
  margin-right: 36px;
  text-decoration: none;
  text-transform: uppercase;
}
.footer__nav__icon {
  font-size: 0px;
  margin-left: 666px;
}

body {
  background: url(../Assets/Pictures/page-background.png);
}

/*# sourceMappingURL=styles.css.map */
